body {
    margin: 0;
    padding: 0;
    background-color: lightblue;
}

header {
    margin: 0;
    padding: 15px;
    background-color: royalblue;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

header * {
    font-size: 22pt;
}

.header-text {
    text-align: center;
}

.btn-container {
    text-align: end;
}

header a {
    text-decoration: none;
    color: black;
    border: 1px solid black;
    border-radius: 25px;
    padding: 5px 10px;
}

.btn {
    border: none;
    border-radius: 10px;
    background-color: lightskyblue;
}