body {
    margin: 0;
    padding: 0;
    background-color: lightblue;
}

* {
    font-size: 16pt;
}

.container {
    display: flex;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
}

form {
    margin: auto;
    padding: 20px;
    border: 1pt solid black;
    border-radius: 10pt;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}

input {
    padding: 2px 5px;
}
